[
  {
    "name": "냉매배관 직관 6파이 (6.35)",
    "category": "냉매배관 직관",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "냉매배관 직관 9파이 (9.52)",
    "category": "냉매배관 직관",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "냉매배관 직관 12파이 (12.7)",
    "category": "냉매배관 직관",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "냉매배관 직관 15파이 (15.88)",
    "category": "냉매배관 직관",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "냉매배관 직관 19파이 (19.05)",
    "category": "냉매배관 직관",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "냉매배관 직관 22파이 (22.2)",
    "category": "냉매배관 직관",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "냉매배관 직관 28파이 (28.58)",
    "category": "냉매배관 직관",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "냉매배관 직관 34파이 (34.92)",
    "category": "냉매배관 직관",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "냉매배관 직관 41파이 (41.28)",
    "category": "냉매배관 직관",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "냉매배관 세트 6/9",
    "category": "냉매배관 세트",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "냉매배관 세트 12/6",
    "category": "냉매배관 세트",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "냉매배관 세트 15/9",
    "category": "냉매배관 세트",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "냉매배관 세트 19/9",
    "category": "냉매배관 세트",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "냉매배관 세트 22/9",
    "category": "냉매배관 세트",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "냉매배관 세트 28/12",
    "category": "냉매배관 세트",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "냉매배관 세트 28/15",
    "category": "냉매배관 세트",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "PVC 25파이 직관 4M",
    "category": "PVC 드레인",
    "unit": "본",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "PVC 25파이 길이",
    "category": "PVC 드레인",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "PVC 40파이 직관 4M",
    "category": "PVC 드레인",
    "unit": "본",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "PVC 40파이 길이",
    "category": "PVC 드레인",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "PVC 엘보",
    "category": "소모품",
    "unit": "EA",
    "stock": 0,
    "manage_stock": 0,
    "memo": ""
  },
  {
    "name": "PVC 티",
    "category": "소모품",
    "unit": "EA",
    "stock": 0,
    "manage_stock": 0,
    "memo": ""
  },
  {
    "name": "PVC 소켓",
    "category": "소모품",
    "unit": "EA",
    "stock": 0,
    "manage_stock": 0,
    "memo": ""
  },
  {
    "name": "PVC 이경티",
    "category": "소모품",
    "unit": "EA",
    "stock": 0,
    "manage_stock": 0,
    "memo": ""
  },
  {
    "name": "PVC 본드",
    "category": "소모품",
    "unit": "EA",
    "stock": 0,
    "manage_stock": 0,
    "memo": ""
  },
  {
    "name": "은박테이프",
    "category": "소모품",
    "unit": "EA",
    "stock": 0,
    "manage_stock": 0,
    "memo": ""
  },
  {
    "name": "PVC 보온재",
    "category": "소모품",
    "unit": "EA",
    "stock": 0,
    "manage_stock": 0,
    "memo": ""
  },
  {
    "name": "EPDM 보온재 고압관 13T",
    "category": "EPDM 보온재",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "EPDM 보온재 액관 19T",
    "category": "EPDM 보온재",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "50파이 원터치행거",
    "category": "행거",
    "unit": "EA",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "65파이 원터치행거",
    "category": "행거",
    "unit": "EA",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "65파이 행거",
    "category": "행거",
    "unit": "EA",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "80파이 행거",
    "category": "행거",
    "unit": "EA",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "100파이 행거",
    "category": "행거",
    "unit": "EA",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "전산대",
    "category": "전산대",
    "unit": "EA",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "CD관",
    "category": "전기/통신",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "후렉시블",
    "category": "전기/통신",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "방수 후렉시블",
    "category": "전기/통신",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "고무전선 1.0sq/4P",
    "category": "전기/통신",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "고무전선 1.5sq/4P",
    "category": "전기/통신",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "통신선 VCTF 1.0sq/2P",
    "category": "전기/통신",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "실드선 1.0sq/2P",
    "category": "전기/통신",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "실드선 1.0sq/4P",
    "category": "전기/통신",
    "unit": "m",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "바닥앵글",
    "category": "앵글/분지관",
    "unit": "EA",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "2단앵글",
    "category": "앵글/분지관",
    "unit": "EA",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "바람막이",
    "category": "앵글/분지관",
    "unit": "EA",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "분지관",
    "category": "앵글/분지관",
    "unit": "EA",
    "stock": 0,
    "manage_stock": 1,
    "memo": ""
  },
  {
    "name": "볼트",
    "category": "소모품",
    "unit": "EA",
    "stock": 0,
    "manage_stock": 0,
    "memo": ""
  },
  {
    "name": "너트",
    "category": "소모품",
    "unit": "EA",
    "stock": 0,
    "manage_stock": 0,
    "memo": ""
  },
  {
    "name": "앙카",
    "category": "소모품",
    "unit": "EA",
    "stock": 0,
    "manage_stock": 0,
    "memo": ""
  },
  {
    "name": "기리",
    "category": "소모품",
    "unit": "EA",
    "stock": 0,
    "manage_stock": 0,
    "memo": ""
  },
  {
    "name": "테이프",
    "category": "소모품",
    "unit": "EA",
    "stock": 0,
    "manage_stock": 0,
    "memo": ""
  },
  {
    "name": "스트롱앙카",
    "category": "소모품",
    "unit": "EA",
    "stock": 0,
    "manage_stock": 0,
    "memo": ""
  },
  {
    "name": "전산볼트",
    "category": "소모품",
    "unit": "EA",
    "stock": 0,
    "manage_stock": 0,
    "memo": ""
  }
]